# PostgreSQL
PG_HOST=localhost
PG_PORT=5432
PG_USER=tu_usuario
PG_PASSWORD=tu_password
PG_DATABASE=negocios_db

# MySQL
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=tu_usuario
MYSQL_PASSWORD=tu_password
MYSQL_DATABASE=negocios_db

# Servidor
PORT=3000

